html, body {
	background: url("../images/bg.png");
	font-family: 'Roboto';
	font-size: 100%;
	overflow: hidden;
	height: 100%;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

img {
	width: 100%;
}

h1 {
	font-family: 'Oswald', 'Roboto';
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.75);
	margin-bottom: 25px;
}

h2, h3, h4, .h2, .h3, .h4 {
	font-family: 'Oswald', 'Roboto';
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.75);
}

table {
	font-size: 12px;
}

@media(min-width: 992px) {
	table {
		font-size: 16px;
	}
}

tr {
	color: rgba(0, 0, 0, 0.75);
	transition: 0.75s all;
	-webkit-transition: 0.75s all;
	-moz-transition: 0.75s all;
	-o-transition: 0.75s all;
}

tbody > tr:hover {
	background: rgba(0, 0, 0, 0.1);
	color: Black;
	transition: 0.75s all;
	-webkit-transition: 0.75s all;
	-moz-transition: 0.75s all;
	-o-transition: 0.75s all;
}

td, th {
	border: none !important;
	text-align: center;
	vertical-align: middle !important;
}

td {
	padding: 10px !important;
}

@media(min-width: 992px) {
	td {
		padding: 0px 8px !important;
	}
}

th.rotate {
	height: 140px;
	white-space: nowrap;
}

th.rotate > div {
	transform: translate(0px, 51px) rotate(270deg);
	width: 40px;
}
th.rotate > div > span {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

.formatted-text {
	text-align: justify;
	text-indent: 32px;
}

.page {
	padding: 50px 0px;
	width: 100%;
	position: relative;
}

.page:nth-child(odd) {
	background: url("../images/whitey.png");
}

#landing {
	display: table;
	width: 100%;
	height: 100vh;
	background: url("../images/hops.jpg") no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.darker {
	background: rgba(255, 255, 255, 0.25);
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-copyright {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
}

.landing-copyright > a {
	color: Black;
	text-decoration: none;
}

.page-container {
	width: 80%;
	margin: 0px auto;
}

.logo {
	max-width: 420px;
	text-align: center;
}

@media(min-width: 1400px) {
	.logo {
		max-width: 640px;
	}
}

.item {
	background: White;
	margin: 20px; 
	position: relative;
}

.collapse-item {
	cursor: pointer;
	padding: 0px 3px;
	position: absolute;
	right: 0px;
	text-align: right;
	z-index: 99;
}

@media(min-width: 992px) {
	.collapse-item {
		padding: 5px 10px;
		right: 5px;
	}
}

.second-column-header {
	display: none;
}

@media(min-width: 992px) {
	.second-column-header {
		display: block;
	}
}

.beer-image {
	display: none;
}

@media(min-width: 992px) {
	.beer-image {
		display: block;
	}
}

.beer-label {
	width: 120px;
}

.full-label {
	background: url("../images/blank.png");
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}

@media(min-width: 992px) {
	.full-label {
		box-shadow: 15px 0px 0px inset;
		background: url("../images/blank.png");
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.circled-span {  
	background: White;
	border-radius: 35px;
	height: 35px;
	line-height: 35px;
	display: block;
	width: 35px;
	margin: 0px auto;
}

p.h4.small {
	margin: 0px;
	color: #777;
}

.parameter {
	margin-top: 0px;
	margin-bottom: 15px;
}

.nav {
	margin-top: 25px;
}

.nav > li > a {
	outline: 0px !important;
	font-family: 'Oswald', 'Roboto';
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
}

.nav > li {
	float: right;
}

.tab-pane {
	font-size: 14px;
	padding: 10px;
	text-align: center;
}

@media(min-width: 992px) {
	.tab-pane {
		text-align: left;
	}
}

.beer-info {
	text-align: center;
}

@media(min-width: 992px) {
	.beer-info {
		text-align: left;
	}
}

.small-display {
	display: block;
	padding: 5px;
}

@media(min-width: 992px) {
	.small-display {
		display: inline;
		padding: 0px;
	}
}

.settings {
	padding: 15px 0px 25px;
}

.settings-icon {
	padding: 0px 15px;
}

#search-input {
	display: inline-block;
	width: 250px; 
}

@media(min-width: 992px) {
	#reset {
		padding-top: 0px;
	}
}

.contact-input {
	background: rgba(0, 0, 0, 0.15);
	border: 0px;
	margin: 15px 0px;
	padding: 8px 15px;
	width: 100%;
}

.contact-button {
	background: rgba(0, 0, 0, 0.25);
	border: 0px;
	margin: 15px 0px;
	padding: 8px;
	width: 50%;
	float: right;
}

.fb-page {
	margin-top: 15px;
}

.clear {
	clear: both;
}

.preload-screen {
	display: table;
	width: 100%;
	height: 100vh;
	background: url("../images/bg.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.info {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.preloader {
	width: 64px;
	margin: 25px;
}

div.tooltip-inner {
	max-width: 720px;
}