<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Browar domowy Aurora">
	<meta name="author" content="Krzysztof Rewak">

	<title>Browar domowy Aurora</title>

	<link href="http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="css/vendor/font-awesome.min.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">

	<script type="text/template" id="beer-row-template">
		<td class="table-cell beer-id"><span id="beer-id-<%= id %>"><%= id %></span></td>
		<td class="table-cell beer-image"><img src="images/labels/<%= image_id %>.jpg" class="table-cell beer-label"></td>
		<td class="table-cell beer-name"><%= name %></td>
		<td class="table-cell beer-style"><%= style %></td>
		<td class="table-cell beer-blg"><%= blg %></td>
		<td class="table-cell beer-abv"><%= abv %></td>
		<td class="table-cell beer-ibu"><%= ibu %></td>
		<td class="table-cell beer-brewing-date"><%= brewingdate %></td>
	</script>

	<script type="text/template" id="beer-desc-template">
		<td class="beer-id expanded">
			<span class="circled-span"><%= id %></span>
		</td>
		<td colspan="7" class="text-left">
			<div class="row item">
				<div class="collapse-item">
					<i class="fa fa-close"></i>
				</div>
				<div class="col-md-4 full-label">
					<% if(label) { %>
					<img src="http://i.imgur.com/<%= label %>.png">
					<% } else { %>
					<img src="images/blank.png">
					<% } %>
				</div>
				<div class="col-md-8 row beer-info">
					<h2>
						<%= name %>
						<small class="small-display">w stylu <%= style %></small>
					</h2>

					<div>
						<ul class="nav nav-tabs" role="tablist">
							<% if(recipe) { %>
							<li role="presentation">
								<a href="#recipe<%= id %>" aria-controls="recipe<%= id %>" role="tab" data-toggle="tab">receptura</a>
							</li>
							<% } %>
							<li role="presentation">
								<a href="#parameters<%= id %>" aria-controls="parameters<%= id %>" role="tab" data-toggle="tab">parametry</a>
							</li>
							<li role="presentation" class="active">
								<a href="#ingredients<%= id %>" aria-controls="ingredients<%= id %>" role="tab" data-toggle="tab">skład</a>
							</li>
							<% if(description) { %>
							<li role="presentation">
								<a href="#description<%= id %>" aria-controls="description<%= id %>" role="tab" data-toggle="tab">opis</a>
							</li>
							<% } %>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade row" id="parameters<%= id %>">
								<div class="col-md-4">
									<p class="h4 small">alkohol:</p>
									<p class="h3 parameter"><%= abv %>%</p>
									<p class="h4 small">ekstrakt:</p>
									<p class="h3 parameter"><%= blg %>%</p>
									<p class="h4 small">goryczka:</p>
									<p class="h3 parameter"><%= ibu %> IBU</p>
								</div>
								<div class="col-md-4">
									<p class="h4 small">data warzenia:</p>
									<p class="h3 parameter"><%= brewingdate %></p>
									<p class="h4 small">data butelkowania:</p>
									<p class="h3 parameter"><%= bottlingdate %></p>
								</div>
								<div class="col-md-4">
									<p class="h4 small">status:</p>
									<p class="h3 parameter"><%= status %></p>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade in active" id="ingredients<%= id %>">
								<h4><small class="small-display"><%= malts_count > 1 ? "słody" : "słód" %>:</small> <%= malts %></h4>
								<% if(nonfermentables) { %> <h4><small class="small-display">surowce niesłodowane:</small> <%= nonfermentables %></h4> <% } %>
								<h4><small class="small-display"><%= hops_count > 1 ? "chmiele" : "chmiel" %>:</small> <%= hops %></h4>
								<h4><small class="small-display">drożdże:</small> <%= yeast %></h4>
								<% if(others) { %> <h4><small class="small-display">inne dodatki:</small> <%= others %></h4> <% } %>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="recipe<%= id %>">
								<%= recipe %>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="description<%= id %>">
								<%= description %>
							</div>
						</div>
					</div>

				</div>
			</div>
		</td>
	</script>

</head>

<body>

	<div id="fb-root"></div>
	<script type="text/java-script">
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.4";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, "script", "facebook-jssdk"));
	</script>

	<div class="preload-screen">
		<div class="info">
			<img class="preloader" src="images/preloader.gif">
			<p>wczytywanie danych i grafiki</p>
		</div>
	</div>

	<div class="page" id="landing">
		<div class="darker">
			<img class="logo" src="images/logo.png">
			<div class="landing-copyright">
				<a href="https://www.flickr.com/photos/paulmiller/3845353725" target="_blank"><i class="fa fa-question-circle fa-2x" data-toggle="tooltip" data-placement="top" title="fot. Paul Miller"></i></a>
				<a href="https://creativecommons.org/licenses/by/2.0/" target="_blank"><i class="fa fa-creative-commons fa-2x"></i></a>
			</div>
		</div>
	</div>

	<div class="page" id="home">
		<div class="page-container">
			<h1>Browar domowy Aurora</h1>
			<div class="row">
				<div class="col-md-4">
					<p class="formatted-text">
						<strong>Browar domowy Aurora</strong> (wcześniej znany jako <strong>Browar domowy RGB</strong>) to mój prywatny browar domowy obecnie znajdujący się na wrocławskich Bartoszowicach.
					</p>
					<p class="formatted-text">
						Pierwsze kroki w świecie piwowarstwa postawiłem w grudniu 2013 roku, kiedy to współpracowałem przy warzeniu wita w Browarze domowym Kalina. Od maja 2014 warzę już na swoim sprzęcie; osobiście nie tylko przeprowadzajam wszystkie etapy produkcji piwa i projektuję receptury, ale także zajmuję się całą identyfikacją wizualną.
					</p>
					<p class="formatted-text">
						Dokumentuję całą swoją przygodę z piwowarstwem od dnia zero, dzięki czemu mam zanotowanych sporo informacji na temat większości uwarzonych piw. Wszystkie detale sa publicznie dostępne na poniższej witrynie i każdy może wykorzystać opublikowane przepisy bez żadnych obwarowań, choć nie ukrywam, że byłoby mi miło, gdyby piwowar warzący na podstawie mojego pomysłu dał mi znać, że pichci coś fajnego.
					</p>
				</div>
				<div class="col-md-4">
					<p class="formatted-text">
						Sprzęt? Korzystam z 40-litrowego gara emaliowanego i taboretu gazowego podłączonego do butli z propanem-butanem. W skład browaru wchodzą jeszcze trzy fermentory po 33 litry, co umożliwia mi prowadzenie dwóch fermentacji w jednym momencie. Filtruję wężykiem z oplotu, gęstość brzeczki mierzę refraktometrem, chłodzę bez chłodnicy i kapsluję Gretą. Etykiety projektuję w GIMP-ie.
					</p>
					<p class="formatted-text">
						<em>Wizualizacja i zarządzanie zautomatyzowanym procesem produkcyjnym z wykorzystaniem baz danych, technologii webowych oraz platformy Raspberry Pi</em> to tytuł mojej pracy inżynierskiej, która bezpośrednio dotyczyła automatyzacji procesu warzenia piwa. Docelowo chcę usprawnić wiele etapów całego procesu, jednak najprawdopodobniej zacznę pracę nad tym na poważnie dopiero po ukończeniu studiów.
					</p>
				</div>
				<div class="col-md-4">
					<p class="formatted-text">
						Warzę piwa górnej fermentacji we wszystkich kolorach i smakach. Nieobce są mi klasyczne style piwne, ale czasem lubię wrzucić do gara szuflę nowofalowych odmian chmielu albo eksperymentować z mniej lub bardziej niekonwencjonalnymi dodatkami. Najbardziej udane (i najlepiej smakujące) warki powtarzam, choć zawsze lekko modyfikuję recepturę. Za trzy swoje najlepsze piwa uważam <em>Żubra AIPA</em>, <em>JP na 100 IBU</em> oraz <em>Menthę lavanduliodorę</em>, ale mam nadzieję, że szybko znikną z tego podium.
					</p>
					<p class="formatted-text">
						Chętnie się wymieniam piwem za inne piwo domowe. Najbardziej pasuje mi wymiana twarzą w twarz we Wrocławiu lub Legnicy, ale ostatecznie jestem w stanie przesłać coś paczkomatem. Sporadycznie zostawiam też butelki w piwnym depozycie w Piwnicy we Wrocławiu.
					</p>
					<p class="text-right">
						- <strong><a href="http://rewak.eu/" target="_blank">Krzysztof Rewak</a></strong>,<br>
						piwowar
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="page" id="beers">
		<div class="page-container">
			<h1>Uwarzone piwa</h1>
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<p class="formatted-text">
						Poniżej znajduje się lista wszystkich uwarzonych przeze mnie piw. Można ją filtrować względem użytych surowców poprzez wybór z jednej z list po prawej oraz sortować względem wybranych danych odpowiednio oznaczonych w nagłówku tabeli. Szczegóły dotyczące każdej warki (użyte surowce, podstawowe parametry i detale, a także w niektórych przypadkach opis oraz receptura) są dostępne po kliknięciu w konkretne wiersze tabeli.
					</p>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<select class="form-control" id="hops">
						<option disabled selected>chmiele</option>
					</select>
					<select class="form-control" id="malts">
						<option disabled selected>słody</option>
					</select>
					<select class="form-control" id="nonfermentables">
						<option disabled selected>surowce nieferm.</option>
					</select>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<select class="form-control" id="yeasts">
						<option disabled selected>drożdże</option>
					</select>
					<select class="form-control" id="others">
						<option disabled selected>dodatki</option>
					</select>
					<select class="form-control" id="styles">
						<option disabled selected>style</option>
					</select>
				</div>
			</div>

			<div id="settings" class="text-right settings">
				<span class="h3">dodatkowe opcje:</span>
				<i class="fa fa-compress fa-2x settings-icon" id="collapse" data-toggle="tooltip" data-placement="top" title="Zamknij wszystkie"></i>
				<i class="fa fa-refresh fa-2x settings-icon" id="reset" data-toggle="tooltip" data-placement="top" title="Wyczyść filtry i sortowanie"></i> 
			</div>

			<table id="brewed-beers" class="table">
				<thead>
					<tr>
						<th class="beer-id">#</th>
						<th class="beer-image">etykieta</th>
						<th class="sortable beer-name" data-sort="name" data-int="false">nazwa</th>
						<th class="sortable beer-style" data-sort="style" data-int="false">styl</th>
						<th class="sortable beer-blg" data-sort="blg" data-int="true">ekstr.</th>
						<th class="sortable beer-abv" data-sort="abv" data-int="true">alk.</th>
						<th class="sortable beer-ibu" data-sort="ibu" data-int="true">IBU</th>
						<th class="sortable beer-id" data-sort="id" data-int="true">data warzenia</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<div class="page" id="info">
		<div class="page-container">
			<h1>Jak pić domowe piwo?</h1>
			<p class="formatted-text">
				Wydawać by się mogło, że nie ma nic łatwiejszego niż wypicie piwa, jednak aby w pełni móc docenić produkt rzemieślniczej pracy należy pamiętać o kilku ważnych sprawach. Piwo domowe zazwyczaj (zawsze w przypadku mojego browaru) jest piwem niepasteryzowanym, niefiltrowanym oraz przede wszystkim refermentowanym w butelce. Rodzi to kilka komplikacji, które uniemożliwiają traktowanie takowego piwa jak pierwszej lepszej butelki ze sklepowej półki.
			</p>

			<div class="row">
				<div class="col-md-4">
					<h2>Przechowywanie</h2>
					<p class="formatted-text">
						Piwo nie jest winem i <strong>należy przechowywać je na stojąco</strong>. W takiej pozycji osad drożdżowy (z ewentualnymi drobinkami chmielu) z czasem osiądzie na dnie butelki, dzięki czemu piwo nie zostanie zmętnione podczas ostrożnego nalewania. Będzie się wówczas nie tylko lepiej prezentowało jako klarowniejsze, ale piwosz ustrzeże się również przed wątpliwej jakości <em>przyjemnością</em> próbowania i wąchania drożdży... no chyba, że mówimy o konkretnym gatunku piwa pszenicznego. Niemieckie Hefeweizeny klasycznie podaje się ze zmieszanym osadem, ale to już kwestia gustów i guścików.
					</p>
					<p class="formatted-text">
						Kolejną ważną sprawą jest miejsce i temperatura przechowywania. Przede wszystkim <strong>nie należy przetrzymywać butelek na słońcu</strong>, gdyż światło ultrafioletowe niekorzystnie wpływa na substancje zawarte w chmielu, przez co piwo może odrynarnie śmiedzieć (tyczy to się również piw sklepowych, a szczególnie tych w zielonych butelkach). Sugerowałbym również przetrzymywanie sprezentowanego piwa w chłodniejszych warunkach; piwo domowe jest piwem żywym, więc w zbyt wysokiej temperaturze może dojść do różnych sytuacji związanych z nadmierną refermentacją. Idealnym miejscem byłaby lodówka, choć zimna piwnica będzie równie dobrym pomysłem.
					</p>
				</div>
				<div class="col-md-4">
					<h2>Szkło i temperatura</h2>
					<p class="formatted-text">
						Każdy styl piwny ma własną sugerowaną temperaturę spożycia, ale praktycznie żadne piwo domowe nie powinno być schładzane do temperatur bliskich 0ºC, gdyż wyeliminuje to wiele pożądanych aromatów i smaków. Ogólna zasada jest taka, że <strong>im mocniejsze jest piwo, tym cieplejsze powinno się je pić</strong>, aby <em>wycisnąć</em> z niego maksimum. Tak na oko zasugerowałbym, że pszenicę i lekkie piwa należy spożywać schłodzone do 7ºC, nowofalowe jasne ale i stouty można próbować do 12ºC, ciemniejszym i wyspiarskim ale oraz wszelkiego rodzaju India Pale Ale nie zaszkodzi nawet 14ºC, a mocny koźlak, barley wine czy stout imperialny będzie smakował świetnie nawet w 16ºC i więcej.
					</p>
					<p class="formatted-text">
						Piwa domowego w żadnym wypadku <strong>nie należy pić prosto z butelki</strong>. Istnieje piwny savoir-vivre, w którym do każdego stylu piwnego przypisany jest inny rodzaj szkła, który w odpowiedni dla siebie sposób uwydatnia pożądane cechy charakterystyczne piwa, jednak nie to oczywiście głównym powodem, aby wstrzymać się z <em>waleniem z gwinta</em>. Piwo należy ostrożnie przelać do szkła (jakiegokolwiek, a najlepiej do ulubionego) po ściance tego naczynia, aby nie wzburzyć osady z dna butelki i nie wytworzyć wielkiej czapy piany.
					</p>
				</div>
				<div class="col-md-4">
					<span href="#" class="thumbnail">
						<img src="images/jp.jpg" alt="Dobre piwo należy pić zawsze w szkle.">
					</span>
					<p class="text-center">
						fot. Joanna Rorat
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="page" id="contact">
		<div class="page-container">
			<h1>Kontakt</h1>
			<div class="row">
				<div id="email-form" class="col-md-6">
					<h2>Formularz kontaktowy</h2>
					<p class="formatted-text">
						Jeżeli masz potrzebę skontaktowania sie ze mną, możesz wysłać wiadomość przez poniższy formularz.
					</p>

					<input class="contact-input" placeholder="Temat wiadomości">
					<textarea class="contact-input" rows="6" placeholder="Treść wiadomości"></textarea> 
					<input class="contact-input" placeholder="Podpis">

					<button class="contact-button">Wyślij</button>
					<div class="clear"></div>
				</div>
				<div class="col-md-6">
					<h2>Facebook</h2>
					<p class="formatted-text">
						Od Facebooka nie uciekniemy. Jeżeli chcesz być na bieżąco z moimi postępami w warzeniu i mieć możliwość kontaktu w każdej chwili, serdecznie zapraszam do śledzenia mojego profilu:
					</p>

					<center>
						<div class="fb-page" data-href="https://www.facebook.com/browaraurora" data-width="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
							<div class="fb-xfbml-parse-ignore">
								<blockquote cite="https://www.facebook.com/browaraurora">
									<a href="https://www.facebook.com/browaraurora" target="_blank">Browar domowy Aurora</a>
								</blockquote>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>

</body>

<div class="modal fade" id="noEmailWarning" tabindex="-1" role="dialog" aria-labelledby="noEmailWarningLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="noEmailWarningLabel">Przykro mi</h4>
			</div>
			<div class="modal-body">
				<p>Niestety wysyłanie mejli jest aktualnie wyłączone. Za utrudnienia przepraszam.</p>
				<p>Zawsze za to możesz skontaktować się ze mną poprzez <a href="https://www.facebook.com/browaraurora" target="_blank">Facebooka</a>!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
			</div>
		</div>
	</div>
</div>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/underscore.min.js"></script>
<script src="js/vendor/backbone.min.js"></script>

<script src="js/backbone.js"></script>
<script src="js/script.js"></script>

</html>